<% if flash[:notice] %>
	<div class="notice"><%= flash[:notice] %></div>
<% end %>

	<table>
		<thead>
			<tr>
				<td><strong>Delete Secret?</strong></td>
				<td><strong>Key</strong></td>
				<td><strong>Secret</strong></td>
				<td><strong>Category</strong></td>
			</tr>
		</thead>
	<tbody>
		<% secrets.each do |secret| %>
		<tr>
			<td><%= link_to "Delete Secret", key_path(secret.key), method: :delete %></td>
			<td><%= secret.key_string %></td>
			<td><%= link_to secret.content, secret_path(secret) %></td>
			<td><%= link_to secret.category.name, category_path(secret.category) %></td>
		</tr>
		<% end %>
	</tbody>
</table>
