<h2> Your Secrets</h2>

<% if flash[:notice] %>
	<div class="notice"><%= flash[:notice] %></div>
<% end %>

	<% if current_user.secrets!=[] %>
	<table>
		<thead>
			<tr>
				<td><strong>Key</strong></td>
				<td><strong>Secret</strong></td>
				<td><strong>Category</strong></td>
			</tr>
		</thead>
	<tbody>
		<% current_user.secrets.each do |secret| %>
		<tr>
			<td><%= secret.key_string %></td>
			<td><%= link_to secret.content, secret_path(secret) %></td>
			<td><%= link_to secret.category.name, category_path(secret.category) %></td>
		</tr>
		<% end %>
	</tbody>
</table>
<% else %>
	<p>You have no secrets! Here's a key to start your collection:</p>
	"<%= Secret.all.sample.key.string %>"
<% end %>

<%= render 'keys/enter_key' %>
