<h1>Create a Secret</h1>

<%= form_for @secret do |f| %>
<%= f.label "Secret Text" %>:
<%= f.text_area :content %> <br>
<%= fields_for @key, url: keys_path do |key| %>
  <%= key.label "Key" %>:
  <%= key.text_field :string %> <br>
<% end %>
<br>
<%= f.label :category %>
<%= f.collection_select :category_id, @categories, :id, :name %>
<br>
<%= f.submit %>
<% end %>
