<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<h2> Secret #<%= @secret.id %></h1>

  <p><strong>Secret Text: </strong><%= @secret.content %></p>
  <p><strong>Key: </strong><%= @secret.key_string %></p>
  <% if @secret.key.users.size == 1 %>
    <p> You are the only one with this secret!</p>
  <% else %>
    <p><%= @secret.key.users.size %> people have this secret!</p>
  <% end %>
<%= link_to "View Your Secrets", secrets_path %>
