<% user_cat_secrets = current_user.secrets.select do |secret| %>
	<% secret.category == @category %>
 <% end %>

	<div style="border: 1px black solid;">

	 	<h2><%= @category.name %></h2>

	 <% if user_cat_secrets != [] %>

			<p>This category includes <%= @category.secrets.count %> total secret(s)! You know <%= user_cat_secrets.count %> of these secrets:</p>
	 		
			<table>
					<thead>
						<tr>
							<td><strong>Key</strong></td>
							<td><strong>Secret</strong></td>
						</tr>
					</thead>
				<tbody>
					<% user_cat_secrets.each do |user_secret| %>
					<tr>
						<td><%= user_secret.key_string %></td>
						<td><%= link_to user_secret.content, secret_path(user_secret) %></td>
					</tr>
					<% end %>
				</tbody>
			</table>

		</div>

<% else %>

	<p>You don't know any secrets under this category! :'(</p>

<% end %>